# 1. 집객시설 데이터 전처리

. 기준년, 분기, 상권코드 기준으로 주변 집객시설에 대한 데이터  
. 상권에대한 집객시설 데이터 상세

1. 해당 지역 주변에 집객시설이 없는경우 null처리 해두어 데이터 분석 전 전처리 필요(0으로 치환)  
2. 2017년부터 2021년까지의 데이터를 가지고 있으므로 최종 데이터인 2021년 데이터 선택  
3. 계절성을 없애고 기준년, 상권구분, 상권코드, 서비스 업종 기반으로 분석하기 위해 데이터 전처리

In [4]:
import pandas as pd
import numpy as np

In [5]:
df_jg = pd.read_csv('./data/서울시 우리마을가게 상권분석서비스(상권-집객시설).csv', encoding='cp949')

In [6]:
df_jg.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,...,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
0,2021,4,A,골목상권,2110939,양재역 8번(양재동우체국),23,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
1,2021,4,A,골목상권,2110148,어린이대공원역 3번,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,4,R,전통시장,2130039,청계6가 지하도상가,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021,4,R,전통시장,2130028,을지입구지하상가(을지로지하보도쇼핑센터),1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
4,2021,4,A,골목상권,2110231,장안교,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_jg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31722 entries, 0 to 31721
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준_년_코드     31722 non-null  int64
 1   기준_분기_코드    31722 non-null  int64
 2   상권_구분_코드    31722 non-null  object
 3   상권_구분_코드_명  31722 non-null  object
 4   상권_코드       31722 non-null  int64
 5   상권_코드_명     31722 non-null  object
 6   집객시설_수      31722 non-null  int64
 7   관공서_수       12080 non-null  float64
 8   은행_수        10651 non-null  float64
 9   종합병원_수      511 non-null    float64
 10  일반_병원_수     3435 non-null   float64
 11  약국_수        20900 non-null  float64
 12  유치원_수       4385 non-null   float64
 13  초등학교_수      163 non-null    float64
 14  중학교_수       35 non-null     float64
 15  고등학교_수      104 non-null    float64
 16  대학교_수       715 non-null    float64
 17  백화점_수       292 non-null    float64
 18  슈퍼마켓_수      2830 non-null   float64
 19  극장_수        2542 non-null   float64
 20  숙박_시설_수     12339 non-null  float64
 21  공항_수        0 non-null      float64
 22  철도_역_수      92 non-null     float64
 23  버스_터미널_수    106 non-null    float64
 24  지하철_역_수     3947 non-null   float64
 25  버스_정거장_수    25840 non-null  float64
dtypes: float64(19), int64(4), object(3)
memory usage: 6.3+ MB

### 3.1 해당 지역 주변에 집객시설이 없는경우 null처리 해두어 데이터 분석 전 전처리 필요
0으로 치환

In [8]:
# 3.1 해당 지역 주변에 집객시설이 없는경우 null처리 해두어 데이터 분석 전 전처리 필요(0으로 치환)  
df_jg_1 = df_jg.fillna(0)

### 3.2 2017년부터 2021년까지의 데이터를 가지고 있으므로 최종 데이터인 2021년 데이터 선택

In [9]:
### 3.2 2017년부터 2021년까지의 데이터를 가지고 있으므로 최종 데이터인 2021년 데이터 선택  
df_jg_2 = df_jg_1.loc[df_jg_1['기준_년_코드']==2021]

### 3.3 계절성을 없애고 기준년, 상권구분, 상권코드, 서비스 업종 기반으로 분석하기 위해 데이터 전처리

In [10]:
# 3.3 계절성을 없애고 기준년, 상권구분, 상권코드, 서비스 업종 기반으로 분석하기 위해 데이터 전처리 
jg_groupby_col = ['집객시설_수', '관공서_수', '은행_수', '종합병원_수', '일반_병원_수', '약국_수', '유치원_수',
       '초등학교_수', '중학교_수', '고등학교_수', '대학교_수', '백화점_수', '슈퍼마켓_수', '극장_수',
       '숙박_시설_수', '공항_수', '철도_역_수', '버스_터미널_수', '지하철_역_수', '버스_정거장_수']

df_jg_3 = df_jg_2.groupby(['기준_년_코드','상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명']).mean()[jg_groupby_col].reset_index()

In [11]:
######### mean이 맞는건지..?

In [14]:
df_jg_2.to_csv('./data/2.집객시설_전처리완료.csv' , encoding='cp949')