In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/서울시 우리마을가게 상권분석서비스(상권-추정매출).csv', encoding='cp949')

In [3]:
df['서비스_업종_코드_명'].unique()

array(['전자상거래업', '인테리어', '가전제품', '가구', '화초', '섬유제품', '완구', '운동/경기용품',
       '화장품', '문구', '의약품', '시계및귀금속', '안경', '가방', '신발', '일반의류', '반찬가게',
       '핸드폰', '컴퓨터및주변장치판매', '편의점', '슈퍼마켓', '피부관리실', '네일숍', '미용실', '스포츠클럽',
       '치과의원', '일반의원', '커피-음료', '분식전문점', '패스트푸드점', '제과점', '양식음식점',
       '일식음식점', '중식음식점', '한식음식점', '의료기기', '노래방', '고시원', '여관', '세탁소',
       '자동차수리', '골프연습장', '당구장', '한의원', '스포츠 강습', '호프-간이주점', '치킨전문점',
       '조명용품', '철물점', '애완동물', '서적', '청과상', '수산물판매', '육류판매', '미곡판매',
       '가전제품수리', 'PC방', '예술학원', '외국어학원', '일반교습학원', '자동차미용', '부동산중개업',
       '자전거 및 기타운송장비'], dtype=object)

# 1. 데이터 셋 기준 요식업 정의

In [4]:
food = ['커피-음료', '분식전문점', '패스트푸드점', '제과점', '양식음식점','일식음식점', '중식음식점', '한식음식점', '호프-간이주점', '치킨전문점']

In [5]:
df_food_1 = df[df['서비스_업종_코드_명'].isin(food)]

# 2. 파생변수 생성

. 아래 매출건수를 비율 변환  (ex > 남성매출건수/분기당매출건수)  
    ['분기당_매출_건수','남성_매출_건수', '여성_매출_건수',
    '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
     '연령대_50_매출_건수', '연령대_60_이상_매출_건수']

In [6]:
df_food2 = df_food_1.copy()

In [7]:
df_food2[['남성_매출_건수_비율', '여성_매출_건수_비율',
    '연령대_10_매출_건수_비율', '연령대_20_매출_건수_비율', '연령대_30_매출_건수_비율', '연령대_40_매출_건수_비율',
     '연령대_50_매출_건수_비율', '연령대_60_이상_매출_건수_비율']] = df_food2[['남성_매출_건수', '여성_매출_건수',
    '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
     '연령대_50_매출_건수', '연령대_60_이상_매출_건수']].div(df_food2['분기당_매출_건수'], axis=0)

In [10]:
df_food2[['분기당_매출_건수', '남성_매출_건수', '여성_매출_건수', '남성_매출_건수_비율', '여성_매출_건수_비율']].head()
# 남성매출건수와 여성매출건수의 합이 전체 분기당 매출건수의 합과 일치하지 않음

    분기당_매출_건수  남성_매출_건수  여성_매출_건수  남성_매출_건수_비율  여성_매출_건수_비율
27     316414    103413    184276     0.326828     0.582389
28     190416     72871     91185     0.382694     0.478873
29     146500     71117     65160     0.485440     0.444778
30     256055     91218    149959     0.356244     0.585652
31     127362     45079     59846     0.353944     0.469889