In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
pd.date_range(start = '2021-04-03', periods = 1)

DatetimeIndex(['2021-04-03'], dtype='datetime64[ns]', freq='D')

In [4]:
a = pd.DataFrame(data = [1], index = pd.date_range(start = '2021-04-03', periods = 1), columns  = ['Data'])

In [5]:
b = pd.DataFrame(data = [np.nan], index = pd.date_range(start = '2021-04-03', periods = 1), columns  = ['Data'])

In [6]:
a.head()

            0
2021-04-03  1

In [7]:
b.head()

             0
2021-04-03 NaN